body {
    background-color: rgb(67, 67, 67);
}
.gg a {
    background-color: azure;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 23px;
    backdrop-filter: blur(3px);
    padding: 0.2rem 0.2rem;
}
.gg ul {
    list-style-type: none;
    display: flex;
    gap: 0.7rem;
}
.gg a:hover {
    color: rgb(0, 136, 255);
}
section.s {
    display: none;
    height: 100vh;
    padding: 2rem;
    background: #333;
    color: white;
}
section.s.active {
    display: block;
}
header {
max-width: 1999px;
}
.gs ul {
    list-style-type: none;
    margin: 3rem -3rem;
}
.gs a {
    background-color: azure;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 23px;
    backdrop-filter: blur(3px);
    padding: 0.2rem 0.2rem;
}
nav.gs li {
    margin-bottom: 19px;
}